# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next
out
build
dist

# Misc
.DS_Store
*.pem
*.log
.env
.env.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml
